<h1>Welcome to FracTacToe</h1>

<h2>El propio tateti</h2>

<h1>

<table>
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>

</h1>

<form action="/validate" method="GET">
	<input type="submit" value="Validate!" />
</form>
