<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script type="application/javascript">


function createArray(length) {
    var arr = new Array(length || 0),
        i = length;

    if (arguments.length > 1) {
        var args = Array.prototype.slice.call(arguments, 1);
        while(i--) arr[length-1 - i] = createArray.apply(this, args);
    }

    return arr;
}

$(document).ready(function(){
	
	var fractactoeCells = createArray(3, 3, 3, 3);

	<% for i in 0..2 do %>
  		<% for j in 0..2 do %>
			<% for k in 0..2 do %>
				<% for l in 0..2 do %>
					<%= "fractactoeCells[" + i.to_s + "][" + j.to_s + "][" + k.to_s + "][" + l.to_s + "] = \""+@@pos[i][j][k][l]+"\";" %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	var fractactoe = "";

	fractactoe += "<table  class=\"table table-bordered\">";

	for(var i=0;i<=2;i++){

		fractactoe += "<tr>";

		for(var j=0;j<=2;j++){
			fractactoe += "<td>";
			
			fractactoe += "<table>";

			for(var k=0;k<=2;k++){		
				fractactoe += "<tr>";

				for(var l=0;l<=2;l++){
					fractactoe += "<td>";
					
					// Aca va celda
//					fractactoe += "<a id=\"" + i + j + k + l +"\" href="/"" + i + j + k + l + "/">" + fractactoeCells[i][j][k][l] + "</a>";
					fractactoe += "<a id=\"" + i + j + k + l +"\">" + fractactoeCells[i][j][k][l] + "</a>";
					//fractactoe += "";

					fractactoe += "</td>";
				}

				fractactoe += "</tr>";
			}

			fractactoe += "</table>";

			fractactoe += "</td>";
		}

		fractactoe += "</tr>";

	}
	fractactoe += "</table>";

	$("#fractactoe").html(fractactoe);

});

</script>

<h1>Welcome to FracTacToe</h1>

<h2>El propio tateti</h2>

<h1>

<div id="fractactoe">

</div>
<!--
<table  class="table table-bordered">

	<tr>
		<td>
			<table id="0000">
			<tr>
				<td><a id="0000" href="/00"><%=@@pos00%></a></td>
				<td><a id="0001" href="/01"><%=@@pos01%></a></td>
				<td><a id="0002" href="/02"><%=@@pos02%></a></td>
			</tr>
			<tr>
				<td><a id="0010" href="/10"><%=@@pos10%></a></td>
				<td><a id="0011" href="/11"><%=@@pos11%></a></td>
				<td><a id="0012" href="/12"><%=@@pos12%></a></td>
			</tr>
			<tr>
				<td><a id="0020" href="/20"><%=@@pos20%></a></td>
				<td><a id="0021" href="/21"><%=@@pos21%></a></td>
				<td><a id="0022" href="/22"><%=@@pos22%></a></td>
			</tr>
			</table>
		</td>

		<td>
			<table id="0000">
			<tr>
				<td><a id="0000" href="/00"><%=@@pos00%></a></td>
				<td><a id="0001" href="/01"><%=@@pos01%></a></td>
				<td><a id="0002" href="/02"><%=@@pos02%></a></td>
			</tr>
			<tr>
				<td><a id="0010" href="/10"><%=@@pos10%></a></td>
				<td><a id="0011" href="/11"><%=@@pos11%></a></td>
				<td><a id="0012" href="/12"><%=@@pos12%></a></td>
			</tr>
			<tr>
				<td><a id="0020" href="/20"><%=@@pos20%></a></td>
				<td><a id="0021" href="/21"><%=@@pos21%></a></td>
				<td><a id="0022" href="/22"><%=@@pos22%></a></td>
			</tr>
			</table>
		</td>

		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>
	</tr>

	<tr>
		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>

		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>

		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>
	</tr>

	<tr>
		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>

		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>

		<td>
<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>
	</tr>

</table>



-->


<table id="0000">
<tr>
	<td><a id="0000" href="/00"><%=@@pos00%></a></td>
	<td><a id="0001" href="/01"><%=@@pos01%></a></td>
	<td><a id="0002" href="/02"><%=@@pos02%></a></td>
</tr>
<tr>
	<td><a id="0010" href="/10"><%=@@pos10%></a></td>
	<td><a id="0011" href="/11"><%=@@pos11%></a></td>
	<td><a id="0012" href="/12"><%=@@pos12%></a></td>
</tr>
<tr>
	<td><a id="0020" href="/20"><%=@@pos20%></a></td>
	<td><a id="0021" href="/21"><%=@@pos21%></a></td>
	<td><a id="0022" href="/22"><%=@@pos22%></a></td>
</tr>
</table>
		</td>
	</tr>

</table>

</h1>

<!--
<form action="/validate" method="GET">
	<input type="submit" value="Validate!" />
</form>
-->

<h1><%= "El ganador es "+ @@winner if @@winner != "-" %></h1>
